.fullpage.section3 {
    background: #ffbaba;
    height: 100%;
}
.cards-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    flex-wrap: wrap;
}
.cards-wrapper .card {
    background: white;
    margin: 10px;
    width: 200px;
    text-align: center;
}